.container-principal{
    width: 100%;
    height: calc(100% - 70px);
    /* background-color:#1E3E62; */
    background-color: #000022;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%231E3E62' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%231c3b5f' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%231a385c' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23183559' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23153256' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23132f53' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23112d50' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%230f2a4d' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%230d274a' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%230a2447' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23082244' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23061f41' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23041c3f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23031a3c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23011739' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001436' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
}

/* .logo-fondo{
  position:absolute;
  width: 100%;
  height: 100%;
  background-image: url(../IMG/Logo_sinfondo.png);
  background-size: 25%; 
  filter: opacity() blur(5px);
  mix-blend-mode: multiply;;
} */

@media (min-width: 500px){
  .container-principal{
    width: 500px;
  }
}

.hidden{display:none}

.container-origendestino{
  display: flex;
  flex-direction: column;
  z-index: 20;
  height: 300px;
}
  
  .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 10%;
    width: 100%;
    color: white;
    font-weight:100;
    text-transform: uppercase;
  }

  .container-general-parametros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-top: 20px;
  }
  
.container-salida, .container-destino{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    height: 190px;
}

.titulo-container-salida{
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    transform: translateX(15px);
    text-decoration: none;
}

.container-opciones-salida{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;    
    gap: 10px;

    &&::-webkit-scrollbar {
      display: none;
      width: 7.5px;             /* Anchura de la barra vertical */
      height: 7.5px;  /* Oculta la barra de desplazamiento */
  }

  &&::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color del "pulgar" */
    border-radius: 10px;     /* Bordes redondeados */
    border: 1.5px solid #fff; 
    cursor: grabbing; /* Borde alrededor del "pulgar" */
  }
}

@media (min-width: 500px){
  .container-opciones-salida{
    &&::-webkit-scrollbar {
      display: block;
      width: 7.5px;             /* Anchura de la barra vertical */
      height: 7.5px;  /* Oculta la barra de desplazamiento */
  }

  &&::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color del "pulgar" */
    border-radius: 10px;     /* Bordes redondeados */
    border: 1.5px solid #fff; 
    cursor: grabbing; /* Borde alrededor del "pulgar" */
  }
  }
}

  .pantalla-difuminada{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    position:absolute;
    z-index: 50;
    display: none;
  }
  
  .mostrar{
    display: block;
  }

  .cantidaddeviajes{
    margin-left: 5px;
    && h1{
        text-align:left;
        font-size: 20px;
        font-weight: 100;
        text-decoration: none;
    }
  }


  ::placeholder{
    text-align-last: center;
    color: black;
    font-family: "Jockey One", sans-serif;
  }

  .container-principal-numviajes{
    display: flex;
  }

  .container-opciones-viajes{
    display: flex;
    gap: 10px;
  }

  .container-viajes{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 50px;
    background-color:#D9D9D9;
    border-radius:50%;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: "Jockey One", sans-serif;
    position: relative;
    user-select: none;
    cursor: pointer;
  }

  .opcion-viajes-manual{
    position: absolute;
    right:0;
    margin-right: 50px;
  }



  .container-tipodetarifa{
    display:flex;
    flex-direction: column;;
    justify-content: space-between;
    width: 100%;

    && h1{
        font-size:20px;
        font-weight: 100;
        user-select: none;
        text-align: left;
    }
  }

  .tarifas{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .container-categoriatarifa{
    display:flex;
    gap: 10px;
    color: black;
  }


  .containertarifa, .texto-opcion-vias, .diaautomatico, .container-select{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    gap: 5px;
    background-color: #D9D9D9;
    position: relative;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
  }

  .diaautomatico{
    text-transform: uppercase;
  }

  .opcioninactiva{color: grey;} .opcionactiva{color: black;}

  .texto-opcion-vias{
    height: 30px;
    width: 120px;

    && .icono-check-tarifa{
      font-size: 15px;
    }

  }

  .icono-check-tarifa{
    position: absolute;
    top: -5px;
    right: 0;
    transform: translateX(-50%);
    z-index: 20;
    font-size: 17.5px;
    color: #d9d9d9;
    animation: mostrariconocheck .5s forwards ease-out;
  }

  @keyframes mostrariconocheck {
    from{transform: scale(0)}
    to{transform: scale(1) translateX(20%)}
  }

  .opcionSeleccionada{
    animation: resaltartarifa .5s forwards ease-out;
  }

  @keyframes resaltartarifa {
    from{
      background-color: #d9d9d9;
      color:black;
    }
    to{
      background: #C63C51;
    color: #d9d9d9;
    }
  }

  .container-viajes-tarifa, .container-bloque_hora-dia{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    && h1{
      margin-bottom: 10px;
    }
  }

  .botonabonos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    font-size: 30px;
    color: white;
    height:70px;
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
  }

  @media (min-width: 500px){
    .botonabonos{
      width: 500px;
    }
  }

  .botondisabled{
    background-color: grey;
    pointer-events: none;
  }

  .botonenabled{
    animation: animarboton .5s forwards ease-out;
  }

  @keyframes animarboton {
    from{background-color: grey;}
    to{background: #C63C51;
      ;}
  }




  