.container-principal{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    /* background-color:#1E3E62; */
    background-image: linear-gradient(#EE4E4E, #242e48 50%);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* .logo-fondo{
  position:absolute;
  width: 100%;
  height: 100%;
  background-image: url(../IMG/Logo_sinfondo.png);
  background-size: 25%; 
  filter: opacity() blur(5px);
  mix-blend-mode: multiply;;
} */

@media (min-width: 500px){
  .container-principal{
    width: 500px;
  }
}

.hidden{display:none}

.container-origendestino{
  display: flex;
  flex-direction: column;
  z-index: 20;
  height: 300px;
}
  
  .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 10%;
    width: 100%;
    color: white;
    font-weight:100;
    text-transform: uppercase;
  }

  .container-general-parametros{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-top: 20px;
  }
  
.container-salida, .container-destino{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    height: 190px;
}

.titulo-container-salida{
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    transform: translateX(15px);
    text-decoration: none;
}

.container-opciones-salida{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;    
    gap: 10px;

    &&::-webkit-scrollbar {
      display: none;
      width: 7.5px;             /* Anchura de la barra vertical */
      height: 7.5px;  /* Oculta la barra de desplazamiento */
  }

  &&::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color del "pulgar" */
    border-radius: 10px;     /* Bordes redondeados */
    border: 1.5px solid #fff; 
    cursor: grabbing; /* Borde alrededor del "pulgar" */
  }
}

@media (min-width: 500px){
  .container-opciones-salida{
    &&::-webkit-scrollbar {
      display: block;
      width: 7.5px;             /* Anchura de la barra vertical */
      height: 7.5px;  /* Oculta la barra de desplazamiento */
  }

  &&::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color del "pulgar" */
    border-radius: 10px;     /* Bordes redondeados */
    border: 1.5px solid #fff; 
    cursor: grabbing; /* Borde alrededor del "pulgar" */
  }
  }
}

  .pantalla-difuminada{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    position:absolute;
    z-index: 50;
    display: none;
  }
  
  .mostrar{
    display: block;
  }

  .cantidaddeviajes{
    margin-left: 5px;
    && h1{
        text-align:left;
        font-size: 20px;
        font-weight: 100;
        text-decoration: none;
    }
  }


  ::placeholder{
    text-align-last: center;
    color: black;
    font-family: "Jockey One", sans-serif;
  }

  .container-principal-numviajes{
    display: flex;
  }

  .container-opciones-viajes{
    display: flex;
    gap: 10px;
  }

  .container-viajes{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 50px;
    height: 50px;
    background-color:#D9D9D9;
    border-radius:50%;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: "Jockey One", sans-serif;
    position: relative;
    user-select: none;
    cursor: pointer;
  }

  .opcion-viajes-manual{
    position: absolute;
    right:0;
    margin-right: 50px;
  }



  .container-tipodetarifa{
    display:flex;
    flex-direction: column;;
    justify-content: space-between;
    width: 100%;

    && h1{
        font-size:20px;
        font-weight: 100;
        user-select: none;
        text-align: left;
    }
  }

  .tarifas{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .container-categoriatarifa{
    display:flex;
    gap: 10px;
    color: black;
  }


  .containertarifa, .texto-opcion-vias, .diaautomatico, .container-select{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    gap: 5px;
    background-color: #D9D9D9;
    position: relative;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
  }

  .diaautomatico{
    text-transform: uppercase;
  }

  .opcioninactiva{color: grey;} .opcionactiva{color: black;}

  .texto-opcion-vias{
    height: 30px;
    width: 120px;

    && .icono-check-tarifa{
      font-size: 15px;
    }

  }

  .icono-check-tarifa{
    position: absolute;
    top: -5px;
    right: 0;
    transform: translateX(-50%);
    z-index: 20;
    font-size: 12px;
    color: #d9d9d9;
    animation: mostrariconocheck .5s forwards ease-out;
  }

  @keyframes mostrariconocheck {
    from{transform: scale(0)}
    to{transform: scale(1) translateX(20%)}
  }

  .opcionSeleccionada{
    animation: resaltartarifa .5s forwards ease-out;
  }

  @keyframes resaltartarifa {
    from{
      background-color: #d9d9d9;
      color:black;
    }
    to{
      background: #C63C51;
    color: #d9d9d9;
    }
  }

  .container-viajes-tarifa, .container-bloque_hora-dia{
    margin: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    && h1{
      margin-bottom: 10px;
    }
  }

  .botonabonos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    font-size: 30px;
    color: white;
    height:60px;
    width: 100%;
  }

  @media (min-width: 500px){
    .botonabonos{
      width: 500px;
    }
  }

  .botondisabled{
    background-color: grey;
    pointer-events: none;
  }

  .botonenabled{
    animation: animarboton .5s forwards ease-out;
  }

  @keyframes animarboton {
    from{background-color: grey;}
    to{background: #C63C51;
      ;}
  }




  