.container-cotizacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-color: #0b2b66;
    text-transform: uppercase;
    /* transform: translateX(-100%); */

    && h1{
        color: #d9d9d9;
        font-weight: 100;
        text-transform: capitalize;
    }
  }

  .logo-fondo{
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(../IMG/Logo_sinfondo.png);
    background-size: 45%; 
    filter: opacity(.15);
    mix-blend-mode: multiply;;
  }

  .container-precios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 100px);
    background-color: rgba(0, 0, 0, 0.125);

    && p{
        font-size:17px ;
        font-weight:100
    }
    
  }

  .container-superior{
    height:45%;
    position: relative;
    width: 100%;

    && h1{
      margin-bottom: 20px;
    }
  }

  .subcontainer-detalle{
    text-transform: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: calc(100% - 100px);
    padding: 0 10px;
  }



  .container-detalle-precio, .container-descuento-precio{
    display: flex;
    align-items: center;
    position: relative;
  }

  .texto-detalle-viajes, .texto-detalle-descuento{
    flex-basis: 65%;
    text-align:left;
    color: #d9d9d9;

    && span{
      text-transform:capitalize;
    }
  }

  .texto-precio-viajes, .texto-precio-descuento{
    flex-basis:30%;
    color: #d9d9d9;
    position: absolute;
    right:0;
    letter-spacing: 1px;
  }

  .texto-precio-descuento{
    color: #EE4E4E;
  }

  .container-preciofinal{
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 20px;
    padding: 0 10px;
    position:absolute;
    bottom:0;
    height: 50px;
    background-color: #EE4E4E;
    width: 100%;

    && p{
        text-transform: uppercase;
        color: #d9d9d9;
        font-size:20px;
        letter-spacing: 1px;
    }
  }

  .container-inferior{
    color: #d9d9d9;
    text-transform: none;

    && li{
      text-align:left;
      margin: 5px 0;
    }
  }

  .titulo-infoabonos{
    text-transform:uppercase;
  }


  .info-direccion{
    text-transform: uppercase;
    width: 50%;
    width: 100%;
  }
