.container-salida-localidad{
    display:flex;
    flex-direction:column;
    height: 150px;
    max-width: 100px;
    position: relative;

    && p{
        font-size:16px;
        text-transform: capitalize;
    }
}

.imagen-localidad-opcion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.sombrearImg{
    filter: brightness(50%) blur(1.5px);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icono-checked{
    width: 35px;
    height: 35px;
    z-index: 20;
    position: absolute;
    filter: opacity(0);
}

.mostrarIconoCheked{
    animation: mostrarIcono .5s forwards ease-out;
}

@keyframes mostrarIcono{
    0%{filter: opacity(0); transform: scale(0);}
    50%{filter: opacity(1); transform: scale(1.25);}
    100%{filter: opacity(1); transform: scale(1);}
}

.container-opciones-vias{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 10px;
    width:100%;
    height: 100%;
    position: absolute;
}

.hidden{display:none}

.texto-opcion-vias{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* height: 30px; */
    width: 80px;
    border: 1px groove #d9d9d9;
    gap: 5px;
    background-color: #D9D9D9;
    color: black;
    position: relative;
    text-transform: capitalize;
  }

  /* .opcionSeleccionada{
    animation: resaltartarifa .5s forwards ease-out;
  }

  @keyframes resaltartarifa {
    from{
      background-color: #d9d9d9;
      color:black;
    }
    to{
      background-color: black;
    color: #d9d9d9;
    }
  } */

