@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

.containerservicio{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    min-height: 500px;
    width: 300px;
    background: rgb(254,253,253);
    background: linear-gradient(0deg, rgba(254,253,253,1) 0%, rgba(226,226,226,1) 100%); 
    /* border-radius: 15px; */
    /* padding: 10px 10px; */
    box-shadow: 10px 10px #2E073F;    
}

.servicioopacoychico{
    filter: opacity(.3);
    transform: scale(.8);
}

.serviciovisibleynormal{
    animation: normalizarservicio .75s ease-out forwards;
}

@keyframes normalizarservicio{
    from{filter: opacity(.3); transform:scale(.9)}
    to{filter: opacity(1); transform: scale(1);}
}

.serviciodereferencia{
    filter: opacity(1);
    animation: zoomearservicio .75s linear alternate-reverse infinite;
}

@keyframes zoomearservicio{
    100%{transform: scale(1.05);}
}

.servicionombre, .serviciohora, .serviciorecorrido{
    font-size:11.5px;
}

.servicionombre{
    font-weight: bold;
    font-size: 45px;
    height: 50px;
    font-family: "Matemasie", sans-serif;
}


.serviciorecorrido{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.serviciohora{
    height:15%;
}

.container-panelIzquierdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-basis: 25%;
    background-color:#F5EDED;
    && h3{
        font-size:23px
    }
}

.container-panelDerecho{
    flex-basis: 75%;
    height: 100%;
    overflow: hidden;
    background-color: #F5004F;
    color: white;
    font-family: "Edu VIC WA NT Beginner", cursive;
}

.estadodelservicio{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    height: 15%;
    font-size: 12px;
    border-bottom: 2px double rgba(148, 147, 147, 0.486);
    padding: 0 5px;
    /* background-color: #821131; */
}

.estado-titulo{
    font-weight: bold;
}

.container-recorrido{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
}

.container-paradas{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.container-parada{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 17.5px;
    min-width: 120px;
    background-color: white;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    z-index: 10;
    color: black;
    border: 2px groove rgba(190, 190, 190, 0.493);
}

.icono-location{
    height:12px;
    width: 12px;
    /* color: rgba(2, 3, 88, 0.918); */
}

.paradaALaIzquierda{
    transform: translateX(-30px);
}

.paradaALaDerecha{
    transform: translateX(30px);
}

.linearecorrido{
    width: 30px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.692);  
}

.hidden{
    display: none;
}

.lineaInclinadaIzq{
    transform: rotate(50deg);
}

.lineaInclinadaDer{
    transform: rotate(130deg);
}

