@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.containerservicio{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    min-height: 600px;
    width: 85%; 
    /* border-radius: 15px; */
    /* padding: 10px 10px; */
    font-family: "Jockey One", sans-serif;
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

.servicioopacoychico{
    filter: opacity(.8) brightness(.2);
}

.serviciovisibleynormal{
    animation: normalizarservicio .75s ease-out forwards;
}

@keyframes normalizarservicio{
    from{filter: opacity(.8);}
    to{filter: opacity(1)}
}

.serviciodereferencia{
    filter: opacity(1);
    animation: zoomearservicio .75s linear alternate-reverse infinite;
}

@keyframes zoomearservicio{
    100%{transform: scale(1.025);}
}

.servicionombre, .serviciohora, .serviciorecorrido{
    font-size:11.5px;
}

.servicionombre{
    font-weight: bold;
    font-size: 50px;
    height: 50px;
}


.serviciorecorrido{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.serviciohora{
    height:15%;
}

.container-panelIzquierdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-basis: 30%;
    background-color:#EE4E4E;
    color: white;
    text-shadow: 3px 3px 4px black;
    && h3{
        font-size:35px
    }
}

.container-panelDerecho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 75%;
    height: 100%;
    overflow: hidden;
    background-color: #242e48;
    color: white;
    font-weight: 200;

}

.estadodelservicio{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    height: 15%;
    font-size: 18px;
    border-bottom: 2px double rgba(148, 147, 147, 0.486);
    padding: 0 5px;
    /* background-color: #821131; */
}

.estado-titulo{
    font-weight: bold;
}

.container-recorrido{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 75%;
    align-items: center;
    width: 100%;
    padding:10px 0;
}

.container-paradas{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 5px;
    max-height: 400px;
    overflow-y: scroll;
}


.container-parada{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    background-color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    color: black;
    text-align: center;
    border: 2px groove rgba(190, 190, 190, 0.493);
}

.paradaSeleccionada{
    background-color:black;
    color: white;;
}

.parada-checked-icono{
    position: absolute;
    left: 0;
    font-size: 13px;
    margin-left: 5px;
}

.parada-bus-icono{
    position: absolute;
    width: 25px;
    height: 15px;
}

.bushacialaizquierda{
    animation: busizquierda 2s .35s ease-in infinite;
}

@keyframes busizquierda{
    from{transform: rotateY(180deg) translateX(-1000%)}
    to{transform: rotateY(180deg) translateX(0);}
}

.bushacialaderecha{
    animation: busderecha 2s ease-in infinite;
}

@keyframes busderecha{
    from{transform: translateX(0)}
    to{transform: translateX(1000%);}
}

.paradaALaIzquierda{
    transform: translateX(-30px);
}

.paradaALaDerecha{
    transform: translateX(30px);
}

.linearecorrido{
    width: 30px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.692);  
}

.hidden{
    display: none;
}

.lineaInclinadaIzq{
    transform: rotate(50deg);
}

.lineaInclinadaDer{
    transform: rotate(130deg);
}

.texto-precioboleto{
    font-size: 20px;
    font-weight: 100;
}

.texto-nombre-parada{
    display: flex;
    align-items: center;
    background-color: inherit;
    height: 100%;
    z-index: 50;
}