.App {
  text-align: center;
  background-color: #180161;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @keyframes mover {
  100%{transform: translateX(-50%)}
} */